<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-county-record-heading" data-cy="CountyRecordCreateUpdateHeading">Create or edit a County Record</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_cat">Cat</label>
          <input type="text" class="form-control" name="cat" id="field_cat" data-cy="cat" formControlName="cat" />
          <div *ngIf="editForm.get('cat')!.invalid && (editForm.get('cat')!.dirty || editForm.get('cat')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('cat')?.errors?.maxlength">
              This field cannot be longer than 30 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_docNum">Doc Num</label>
          <input type="text" class="form-control" name="docNum" id="field_docNum" data-cy="docNum" formControlName="docNum" />
          <div *ngIf="editForm.get('docNum')!.invalid && (editForm.get('docNum')!.dirty || editForm.get('docNum')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('docNum')?.errors?.maxlength">
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_docType">Doc Type</label>
          <input type="text" class="form-control" name="docType" id="field_docType" data-cy="docType" formControlName="docType" />
          <div *ngIf="editForm.get('docType')!.invalid && (editForm.get('docType')!.dirty || editForm.get('docType')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('docType')?.errors?.maxlength">
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_book">Book</label>
          <input type="text" class="form-control" name="book" id="field_book" data-cy="book" formControlName="book" />
          <div *ngIf="editForm.get('book')!.invalid && (editForm.get('book')!.dirty || editForm.get('book')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('book')?.errors?.maxlength">
              This field cannot be longer than 10 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_setAbbr">Set Abbr</label>
          <input type="text" class="form-control" name="setAbbr" id="field_setAbbr" data-cy="setAbbr" formControlName="setAbbr" />
          <div *ngIf="editForm.get('setAbbr')!.invalid && (editForm.get('setAbbr')!.dirty || editForm.get('setAbbr')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('setAbbr')?.errors?.maxlength">
              This field cannot be longer than 10 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_vol">Vol</label>
          <input type="text" class="form-control" name="vol" id="field_vol" data-cy="vol" formControlName="vol" />
          <div *ngIf="editForm.get('vol')!.invalid && (editForm.get('vol')!.dirty || editForm.get('vol')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('vol')?.errors?.maxlength">
              This field cannot be longer than 10 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_pg">Pg</label>
          <input type="text" class="form-control" name="pg" id="field_pg" data-cy="pg" formControlName="pg" />
          <div *ngIf="editForm.get('pg')!.invalid && (editForm.get('pg')!.dirty || editForm.get('pg')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('pg')?.errors?.maxlength">
              This field cannot be longer than 10 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_filedDate">Filed Date</label>
          <div class="d-flex">
            <input
              id="field_filedDate"
              data-cy="filedDate"
              type="datetime-local"
              class="form-control"
              name="filedDate"
              formControlName="filedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_effDate">Eff Date</label>
          <div class="d-flex">
            <input
              id="field_effDate"
              data-cy="effDate"
              type="datetime-local"
              class="form-control"
              name="effDate"
              formControlName="effDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_recordKey">Record Key</label>
          <input type="text" class="form-control" name="recordKey" id="field_recordKey" data-cy="recordKey" formControlName="recordKey" />
          <div *ngIf="editForm.get('recordKey')!.invalid && (editForm.get('recordKey')!.dirty || editForm.get('recordKey')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('recordKey')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_fips">Fips</label>
          <input type="text" class="form-control" name="fips" id="field_fips" data-cy="fips" formControlName="fips" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_pdfPath">Pdf Path</label>
          <input type="text" class="form-control" name="pdfPath" id="field_pdfPath" data-cy="pdfPath" formControlName="pdfPath" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_county">County</label>
          <select class="form-control" id="field_county" data-cy="county" name="county" formControlName="county">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="countyOption.id === editForm.get('county')!.value?.id ? editForm.get('county')!.value : countyOption"
              *ngFor="let countyOption of countiesSharedCollection; trackBy: trackCountyById"
            >
              {{ countyOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
