<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-county-record-party-heading" data-cy="CountyRecordPartyCreateUpdateHeading">Create or edit a County Record Party</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_recordKey">Record Key</label>
          <input type="text" class="form-control" name="recordKey" id="field_recordKey" data-cy="recordKey" formControlName="recordKey" />
          <div *ngIf="editForm.get('recordKey')!.invalid && (editForm.get('recordKey')!.dirty || editForm.get('recordKey')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('recordKey')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_partyName">Party Name</label>
          <input type="text" class="form-control" name="partyName" id="field_partyName" data-cy="partyName" formControlName="partyName" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_partyRole">Party Role</label>
          <input type="number" class="form-control" name="partyRole" id="field_partyRole" data-cy="partyRole" formControlName="partyRole" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_countyRecord">County Record</label>
          <select class="form-control" id="field_countyRecord" data-cy="countyRecord" name="countyRecord" formControlName="countyRecord">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                countyRecordOption.id === editForm.get('countyRecord')!.value?.id ? editForm.get('countyRecord')!.value : countyRecordOption
              "
              *ngFor="let countyRecordOption of countyRecordsSharedCollection; trackBy: trackCountyRecordById"
            >
              {{ countyRecordOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
