<div>
  <h2 id="page-heading" data-cy="CountyImageHeading">
    <span>County Images</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-county-image"
        [routerLink]="['/county-image/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new County Image </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="countyImages?.length === 0">
    <span>No countyImages found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="countyImages && countyImages.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="recordKey"><span>Record Key</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fileSize"><span>File Size</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fileName"><span>File Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="pageCnt"><span>Page Cnt</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fileDate"><span>File Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="filePath"><span>File Path</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="md5Hash"><span>Md 5 Hash</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="countyRecord.id"><span>County Record</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let countyImage of countyImages; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/county-image', countyImage.id, 'view']">{{ countyImage.id }}</a>
          </td>
          <td>{{ countyImage.recordKey }}</td>
          <td>{{ countyImage.fileSize }}</td>
          <td>{{ countyImage.fileName }}</td>
          <td>{{ countyImage.pageCnt }}</td>
          <td>{{ countyImage.fileDate | formatMediumDatetime }}</td>
          <td>{{ countyImage.filePath }}</td>
          <td>{{ countyImage.md5Hash }}</td>
          <td>
            <div *ngIf="countyImage.countyRecord">
              <a [routerLink]="['/county-record', countyImage.countyRecord?.id, 'view']">{{ countyImage.countyRecord?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/county-image', countyImage.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/county-image', countyImage.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(countyImage)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="countyImages && countyImages.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
