<div>
  <h2 id="page-heading" data-cy="CountyImagePageHeading">
    <span>County Image Pages</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-county-image-page"
        [routerLink]="['/county-image-page/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new County Image Page </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="countyImagePages?.length === 0">
    <span>No countyImagePages found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="countyImagePages && countyImagePages.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="recordKey"><span>Record Key</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fileSize"><span>File Size</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="pageNo"><span>Page No</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fileName"><span>File Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fileDate"><span>File Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="filePath"><span>File Path</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ocrScore"><span>Ocr Score</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="md5Hash"><span>Md 5 Hash</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="countyRecord.id"><span>County Record</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="countyImage.id"><span>County Image</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let countyImagePage of countyImagePages; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/county-image-page', countyImagePage.id, 'view']">{{ countyImagePage.id }}</a>
          </td>
          <td>{{ countyImagePage.recordKey }}</td>
          <td>{{ countyImagePage.fileSize }}</td>
          <td>{{ countyImagePage.pageNo }}</td>
          <td>{{ countyImagePage.fileName }}</td>
          <td>{{ countyImagePage.fileDate | formatMediumDatetime }}</td>
          <td>{{ countyImagePage.filePath }}</td>
          <td>{{ countyImagePage.ocrScore }}</td>
          <td>{{ countyImagePage.md5Hash }}</td>
          <td>
            <div *ngIf="countyImagePage.countyRecord">
              <a [routerLink]="['/county-record', countyImagePage.countyRecord?.id, 'view']">{{ countyImagePage.countyRecord?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="countyImagePage.countyImage">
              <a [routerLink]="['/county-image', countyImagePage.countyImage?.id, 'view']">{{ countyImagePage.countyImage?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/county-image-page', countyImagePage.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/county-image-page', countyImagePage.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(countyImagePage)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="countyImagePages && countyImagePages.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
