<div>
  <h2 id="page-heading" data-cy="CountiesAvaiableHeading">
    <span>Counties Avaiables</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-counties-avaiable"
        [routerLink]="['/counties-avaiable/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Counties Avaiable </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="countiesAvaiables?.length === 0">
    <span>No countiesAvaiables found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="countiesAvaiables && countiesAvaiables.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="earliest"><span>Earliest</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="latest"><span>Latest</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="recordCount"><span>Record Count</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fips"><span>Fips</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="countyName"><span>County Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="stateAbbr"><span>State Abbr</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="county.id"><span>County</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let countiesAvaiable of countiesAvaiables; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/counties-avaiable', countiesAvaiable.id, 'view']">{{ countiesAvaiable.id }}</a>
          </td>
          <td>{{ countiesAvaiable.earliest | formatMediumDatetime }}</td>
          <td>{{ countiesAvaiable.latest | formatMediumDatetime }}</td>
          <td>{{ countiesAvaiable.recordCount }}</td>
          <td>{{ countiesAvaiable.fips }}</td>
          <td>{{ countiesAvaiable.countyName }}</td>
          <td>{{ countiesAvaiable.stateAbbr }}</td>
          <td>
            <div *ngIf="countiesAvaiable.county">
              <a [routerLink]="['/county', countiesAvaiable.county?.id, 'view']">{{ countiesAvaiable.county?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/counties-avaiable', countiesAvaiable.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/counties-avaiable', countiesAvaiable.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(countiesAvaiable)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="countiesAvaiables && countiesAvaiables.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
